@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Preloader Styles */
#loading {
    position: fixed;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: visible;
    background: #127369;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.preloader__content {
    text-align: center;
}

.preloader__logo {
    width: 100px;
    height: 100px;
}

.preloader__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preloader__logo h1 {
    font-size: 45px;
    color: #fff;
    margin-left: -10px;
}

body {
    background-color: #127369;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}

.logo {
    display: flex;
    width: 170px;
    height: 80px;
    padding-top: 40px;
    margin-top: 40px;
    justify-content: space-between;

    img {
        width: 60px;
        height: 65px;
    }

    h1 {
        font-size: 35px;
        color: #fff;
    }
}

.wrapper {
    padding: 4%;
    background-color: #fff;
    border-radius: 16px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
}

.login_wrapper {
    margin-top: 7%;
}

.wrapperr {
    padding: 50px;
    background-color: #fff;
    width: 20%;
    height: 87vh;
}

.form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #10403B;

    .header {
        padding-bottom: 10px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .login_header {
        margin-bottom: 80px;
    }

    form {
        margin: 20px 0;
    }

    form .error-text {
        color: #721c24;
        padding: 8px 10px;
        text-align: center;
        border-radius: 5px;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
        margin-bottom: 10px;
        display: none;
    }

    form .name-details {
        display: flex;
        gap: 15px;
    }

    .name-details .field:first-child {
        margin-right: 10px;
    }

    .name-details .field:last-child {
        margin-left: 10px;
    }

    form .field {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        position: relative;
    }

    form .field label {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 600;
    }

    form .input input {
        height: 40px;
        width: 100%;
        font-size: 16px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid #8AA6A3;
    }

    form .field input {
        outline: none;
    }

    form .image input {
        font-size: 17px;
    }

    form .button input {
        height: 45px;
        width: 320px;
        border: none;
        color: #fff;
        font-size: 17px;
        background: #127369;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 13px;
    }

    form .field i {
        position: absolute;
        right: 15px;
        top: 70%;
        color: #8AA6A3;
        cursor: pointer;
        transform: translateY(-50%);
    }

    form .field i.active::before {
        color: #127369;
        content: "\f070";
    }

    .field .image input {
        background: #8AA6A3;
    }

    .link {
        text-align: center;
        margin: 10px 0;
        font-size: 17px;
    }

    .link a {
        color: #127369;
    }

    .link a:hover {
        text-decoration: underline;
    }
}

/* users page */

.user_wrapper {
    padding: 40px;
    background-color: #fff;
    width: 20%;
    height: 100vh;
}

/* .users_body {
    justify-content: stretch;
} */

.user_logo {
    padding: 5px 10px 0 10px;
    width: 4.5%;
}

/* .users {
    background-color: red;
} */

.users header h1 {
    font-size: 40px;
    color: #127369;
}

.settings-icon {
    margin-left: auto;
    color: #8AA6A3;
    .fas {
        font-size: 30px !important;
    }
}

.settings-icon:hover {
    color: #127369;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0px;
    /* border-bottom: 1px solid #e6e6e6; */
    justify-content: space-between;
    color: #fff !important;
}

.welcome-message h3 {
    font-size: 18px;
    color: #4C5958;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

.users header img {
    height: 50px;
    width: 30px;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

:is(.users, .users-list) .content .details {
    color: #127369;
    margin-left: 20px;
}

:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.users-list a img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.users-list a .details p {
    color: rgb(190, 190, 190);
}

.users-list a .status-dot {
    font-size: 12px;
    color: forestgreen;
    padding-left: 10px;

}

.users-list a .status-dot.offline {
    color: #ccc;
}

:is(.users, .users-list) .content .details {
    margin-left: 15px;
}

.users-list a {
    padding-right: 10px;
}

.users .search .logout {
    display: block;
    background: #127369;
    color: #fff;
    outline: none;
    border: none;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    font-size: 18px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.show {
    opacity: 1;
    pointer-events: auto;
}

.users .search button {
    position: relative;
    z-index: 1;
    width: 47px;
    height: 42px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: #fff;
    color: #127369;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}

.users .search button.active {
    background: #127369;
    color: #fff;
}

.search button.active i::before {
    content: '\f00d';
}


/* edit-profile */

.full_wrapper {
    width: 100%;
    background: #fff;
    height: auto;
    padding-bottom: 30px;
}

.profile_wrapper {
    width: 85%;
    min-height: 96vh;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    color: #10403B;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #8AA6A3;
    border: 1px solid #178A7E;
    margin-bottom: 10px;
}

.edit-profile header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 10px 0;

    h1 {
        font-size: 38px;
        color: #127369;
    }

    span {
        color: #4C5958;
        font-size: 18px;
        font-weight: 600;
    }

    .fas {
        font-size: 24px;
    }
}

.edit-profile {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #10403B;

    .header {
        padding-bottom: 10px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    .change_pass {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        label {
            margin-right: 30px;
        }
    }

    .passwords :first-child {
        margin-top: 8px;
    }

    form {
        display: flex;
        justify-content: space-around;
        padding: 0 100px;

        img {
            width: 55%;
            margin-bottom: 2%;
        }

        .user_name {
            margin-bottom: 3%;
            h3 {
                font-weight: 500;
            }
        }
    }

    form .error-text {
        color: #721c24;
        padding: 8px 10px;
        text-align: center;
        border-radius: 5px;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
        margin-bottom: 10px;
        display: none;
    }

    form .name-details {
        display: flex;
        gap: 15px;
    }

    .name-details .field:first-child {
        margin-right: 10px;
    }

    .name-details .field:last-child {
        margin-left: 10px;
    }

    form .field {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        position: relative;
    }

    form .field label {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 600;
    }

    form .input input {
        height: 40px;
        width: 100%;
        font-size: 16px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid #8AA6A3;
    }

    form .field input {
        outline: none;
    }

    form .image input {
        font-size: 17px;
    }

    form .button {
        width: 100%;
        padding: 0 10px;
    }

    form .button input {
        height: 45px;
        width: 100%;
        border: none;
        color: #fff;
        font-size: 17px;
        background: #127369;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 13px;
    }

    .field .image input {
        background: #8AA6A3;
    }

    .link {
        text-align: center;
        margin: 10px 0;
        font-size: 17px;
    }

    .link a {
        color: #127369;
    }

    .link a:hover {
        text-decoration: underline;
    }
}




/* chat_content */

.iframe-container {
    width: 70%;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}


.file_select {
    width: 10%;
}

.chat_content {
    background-color: #9AB8B5;
    width: 100%;
    height: 100vh;
    .chat_info {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 22.5%;
        margin-bottom: 22.5%;

        .circle {
            width: 10%;
            padding: 5%;
            background: #178A7E;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .circle img {
            width: 100%;
            height: auto;
        }

        h3 {
            color: #10403B;
            width: fit-content;
            padding: 10px 0;
            margin-top: 4%;
            margin-left: auto;
            margin-right: auto;
        }
        
        p {
            text-align: center;
            color: #10403B;
            font-size: 17px;
        }
        .start_button button{
            display: block;
            background: #178A7E;
            color: #fff;
            outline: none;
            border: none;
            padding: 7px 65px;
            border-radius: 5px;
            font-size: 14px;
            margin-top: 4%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* Chat Area CSS Start */
.chating {
    background: #9AB8B5;
    max-width: 100%;
    width: 70%;
    border-radius: 0px;
}

.chating .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    a {
        text-decoration: none;
    }
}

.fas {
    color: #8AA6A3;
    display: none;
}

.fas:hover {
    color: #127369;
}

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
    position: relative;
}

.chat-area header .back-icon {
    color: #127369;
    font-size: 18px;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 50%;
}

.chat-area header .details span {
    font-size: 17px;
    font-weight: 500;
}

.chat-area header .theme {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.chat-area header .theme i {
    font-size: 25px;
    cursor: pointer;
}

.chat-area header .theme #night.active::before {
    content: '\f185';
}



.chat-box {
    position: relative;
    min-height: 74vh;
    max-height: 74vh;
    overflow-y: auto;
    padding: 10px 30px 20px 10px;
    background: #F3F3F3;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .text {
    position: absolute;
    top: 45%;
    left: 50%;
    width: calc(100% - 50px);
    text-align: center;
    transform: translate(-50%, -50%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    border: 1px solid #127369;
    box-shadow: 0 0 45px rgb(0 0 0 / 14%),
        0rem 25px 25px -25px rgb(0 0 0 / 19%);
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: var(--pink-color);
    color: #127369;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming .userimg {
    height: 35px;
    width: 35px;
}

.chat-box .outgoing .userimg {
    height: 35px;
    width: 35px;
}

.chat-box .incoming img {
    height: 35%;
    width: 35%;
}

.chat-box .outgoing img {
    height: 35%;
    width: 35%;
}

.chat-box .incoming img {
    height: 35%;
    width: 35%;
}

.chat-box .outgoing img {
    height: 35%;
    width: 35%;
}

.chat-box .outgoing {
    display: flex;
    align-items: flex-end;
}

.chat-box .outgoing img {
    margin-right: 0;
}

.chat-box .incoming .details {
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 130px);
}

.chat-box .outgoing .details {
    margin-right: auto;
    margin-right: 10px;
    max-width: calc(100% - 130px);
}

.chat-box .outgoing .details .msgimg {
    margin-right: auto;
    margin-left: 65%;
}

.incoming .details p {
    background: #fff;
    color: #127369;
    border-radius: 18px 18px 18px 0;
}

.typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.image-input {
    height: 45px;
    width: auto !important;
    padding: 0 !important;
    border: none !important;
    margin-top: 10px;
}

.file-uploadd {
    /* display: none; */
}

.custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    i {
        color: #4C5958;
    }
}

.typing-area input:focus {
    border: 1px solid var(--pink-color);
}

.typing-area button {
    color: #127369;
    width: 55px;
    border: none;
    outline: none;
    background: var(--pink-color);
    /* Define this variable if not defined */
    font-size: 26px;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area button:hover {
    background: var(--pink-dark);
    /* Define this variable if not defined */
}

.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
}

#file-upload {
    display: none;
}

.custom-file-upload {
    padding: 10px 10px;
}

.custom-file-upload i {
    color: #4C5958;
}

@media (max-width: 968px) {
    .chat_content {
        display: none;
    }
    .user_wrapper {
        width: 100%;
    }
    .wrapperr {
        width: 87%;
    }

    .chating .header {
        .fas {
            display: block;
        }
    }

    .edit-profile {
        form {
            display: block !important;
        }
    }

}

@media (max-width: 876px) {
    .user_logo {
        display: none;
    }
    .logo {
        padding-top: 1%;
        padding-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
    }
    .user_wrapper {
        width: 100%;
    }
    .wrapper {
        width: 80%;
        margin-top: 15%;
    }
    body {
        display: block;
    }
    .wrapper {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .iframe-container {
        display: none;
    }
    .chating {
        max-width: 100%;
        width: 100%;
        border-radius: 0px;
    }
}
.chat-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .chat-image {
        max-width: 100%;
    }
}